.container {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-areas:
    "main main sidebar"
    "menu content sidebar"
    "menu content sidebar";

  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 3fr;
}

.container * {
  color: #ffff;
}

.titles {
  text-align: left;
  margin-block: 70px;
}

.titles * {
  margin: 0px;
  padding: border-box;
  color: #ffff;
}

.titles h1 {
  line-height: 40px;
  margin-bottom: 10px;
}

.titles h4 {
  font-style: normal;
  font-weight: 400;
}

.main {
  background-image: url("../../assets/home.jpg");
  background-size: cover;
  background-position: center;
  grid-area: main;
  padding: 20px;
}

.menu {
  grid-area: menu;
  background-color: black;
}

.content {
  grid-area: content;
  background-color: black;
  padding: 20px;
}

.sidebar {
  grid-area: sidebar;
  padding: 20px;
  background-color: white;
}
