.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    width: 100vw;

    background-color: white;
    color: black;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 50px;

}

.title {
    font-size: 4rem;
    color: #333;
    text-align: center;
    margin-bottom: 140px;
  }
  
  .button {
    background-color: #333;
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

.button:hover {
    background-color: #444;
}
  