.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar *{
    margin:0px;
}

button{
    background-color: #3E72BF;
    color: white;
    font-size: 1.5em;
    border:#3E72BF 1px;
    border-radius: 4px;
    width: 100%;
    margin-top:40px;
    padding-block: 20px;
}

button:hover{
    background-color: #3A70B0;
}

.grid{
    display: grid;
    grid: 1fr 1fr/1fr 1fr;
    gap:5px;
    margin-top: 80px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
}


.block{
    color: white;
    background-color: black;
    padding-bottom: 60px;
    border-radius: 10px;
}